<!DOCTYPE html>
<html>
  <head>
    <h1 style="text-align: center;">Contributor pull request graph</h1>
    <meta charset="utf-8">
    <style>
      html{
        width: 100%;
        background: #DDD;
      }
      .tooltip{
          position:relative;
          display:inline-block;
      }
    </style>
  </head>
  <body>

      <button style="margin-left: 500px;" onclick="window.location.href='{{ url_for ('main') }}'">Home</button>
      <button style="margin-left: 50px;" onclick="window.location.href='{{ url_for ('create') }}'">create issue</button>
      <button style="margin-left: 50px;" onclick="window.location.href='{{ url_for ('closed') }}'">closed issue</button>
      <button style="margin-left: 50px;" onclick="window.location.href='{{ url_for ('impact') }}'">impact</button>

    <pre style="margin-left: 400px;">
      This graph shows each contributor's merged pull request number.
      
      Put your mouse on the bar, the details will show on the bottom right corner.</pre>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>
    <script>


        // set the dimensions and margins of the graph
        var margin = {top: 50, right: 30, bottom: 70, left: 60},
            width = 1360 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;
        
        // append the svg object to the body of the page
        var svg = d3.select("#my_dataviz")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");
        
        // Parse the Data
        d3.csv("/static/pull_request.csv", function(data) {
          console.log(data)
        
          // sort data
          data.sort(function(b, a) {
            return a.Value - b.Value;
          });
        
          // X axis
          var x = d3.scaleBand()
            .range([ 0, width ])
            .domain(data.map(function(d) { return d.username; }))
            .padding(0.2);
          svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .selectAll("text")
              .attr("transform", "translate(-10,0)rotate(-45)")
              .style("text-anchor", "end");

          // Add X axis label:
          svg.append("text")
              .attr("text-anchor", "end")
              .attr("x", width)
              .attr("y", height+70 )
              .text("User name");

          // Add Y axis
          var y = d3.scaleLinear()
            .domain([0, 130])
            .range([ height, 0]);
          svg.append("g")
            .call(d3.axisLeft(y));

          // Add Y axis label:
          svg.append("text")
              .attr("text-anchor", "end")
              .attr("x", 0)
              .attr("y", -15 )
              .text("Merged Pull Request")
              .attr("text-anchor", "start")

          // ---------------------------//
          //      TOOLTIP               //
          // ---------------------------//

          // -1- Create a tooltip div that is hidden by default:
          var tooltip = d3.select("#my_dataviz")
            .append("div")
              .style("opacity", 0)
              .attr("class", "tooltip")
              .style("background-color", "black")
              .style("border-radius", "5px")
              .style("padding", "10px")
              .style("color", "white")

          // -2- Create 3 functions to show / update (when mouse move but stay on same circle) / hide the tooltip
          var showTooltip = function(d) {
            tooltip
              .transition()
              .duration(200)
            tooltip
              .style("opacity", 1)
              .html("User: " + d.username + "  pull_request: " + d.merged_pull_request)
              .style("margin-left", "1200px")
          }
          var moveTooltip = function(d) {
            tooltip
              .style("margin-left", "1200px")
          }
          var hideTooltip = function(d) {
            tooltip
              .transition()
              .duration(200)
              .style("opacity", 0)
          }

          // Bars
          svg.selectAll("mybar")
            .data(data)
            .enter()
            .append("rect")
              .attr("x", function(d) { return x(d.username); })
              .attr("y", function(d) { return y(d.merged_pull_request); })
              .attr("width", x.bandwidth())
              .attr("height", function(d) { return height - y(d.merged_pull_request); })
              .attr("fill", "#69b3a2")
            .on("mouseover", showTooltip )
            .on("mousemove", moveTooltip )
            .on("mouseleave", hideTooltip )

        })

    </script>
  </body>
</html>
